// TopBar styles

$color1: #0892A5;
$color2: #06908F;
$color3: #0CA4A5;
$color4: #DBB68F;
$color5: #BB7E5D;


.topbar-container {
    // background-image: linear-gradient(rgba(0, 0, 0, 0.15),
    // rgba(0, 0, 0, 0.15)), url('../assets/palm-trees.jpg');
    border-top: 5px solid $color5;
    border-bottom: 5px solid $color5;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $color5;
    }
}


// Game
.game-container {
    justify-content: center;

    .game-display {
        display: flex;
        justify-content: center;
    }
}



// GameScreen

.game-screen {
    width: 25%;
    height: 500px;
    color: white;
    background-color: rgb(36, 36, 36);
    padding: 10px;
}

// controls

.controls-container {
    background-color: $color4;
    padding: 10px;
    border: 1px solid black;
    width: 25%;
}

// GameInventory

.player-status {
    display: flex;
    justify-content: center;

    .status-container {
        background-color: black;
        color: white;
        padding: 10px;
        height: 250px;
        width: 10%;
    }

    .player-inventory {
        padding: 10px;
        background-color: black;
        color: white;
        height: 250px;
        width: 40%;

        .inventory-list {
            .inventory-item {
                .inventory-button {
                    padding-left: 10px;
                }
            }
        }
    }
}

#inventory-btn {
    margin-left: 10px;
}